div {
  width: 100%;
  height: 80vh;
  animation: moving 3s;
}

@keyframes moving {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
